<div class="mat-elevation-z8 profile-container">
  <div class="profile-header">
    <div class="title-container">
      <!-- <h2>{{ profile.name }}</h2> -->
    </div>
    <div class="profile-details">
      <div class="profile-info">
        <ul>
          <li>Username: {{ user?.name }}</li>
          <li>Profile Creation Date: {{ user?.joinDate }}</li>
        </ul>
      </div>
      <mat-divider></mat-divider>
      <div class="profile-picture">
        <div class="image-container">
          <img src="{{ user?.profilePictureUrl }}" alt="Profile Picture" />
        </div>
      </div>
    </div>
  </div>
</div>
