.torrent-container {
  margin: auto;
  margin-top: 30px;
  background-color: var(--background-color);
  max-width: 1200px;
  min-height: 800px;
  border-radius: 5px;
}

.title-container {
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--background-color-secondary);
}

.torrent-details {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.torrent-options {
  flex-grow: 1;
  flex-basis: 0;
}

.torrent-description {
  background-color: var(--background-color-secondary);
  margin: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.torrent-description ul {
  list-style: none;
  padding: 5px;
}

.torrent-description ul li {
  padding: 10px;
  border-bottom: 1px solid var(--mat-sys-on-background);
}
