<div class="mat-elevation-z8 torrent-container">
  <div class="torrent-header">
    <div class="title-container">
      <h2>{{ torrent.name }}</h2>
    </div>
  </div>
  <div class="torrent-details">
    <mat-card class="torrent-info">
      <mat-card-content>
        <div>
          <p>Category: {{ torrent.category.name }}</p>
          <mat-divider></mat-divider>
          <p>Size: {{ torrent.size }}</p>
          <mat-divider></mat-divider>
          <p>Upload Date: {{ torrent.uploadDate | date : "mediumDate" }}</p>
          <mat-divider></mat-divider>
          <p>Uploader: {{ torrent.uploader.name }}</p>
          <mat-divider></mat-divider>
        </div>
      </mat-card-content>
      <div class="torrent-options">
        <ul>
          <li>
            <button mat-fab extended>
              <mat-icon>download</mat-icon>Download Torrent
            </button>
          </li>
          <li>
            <button mat-fab extended>
              <mat-icon>link</mat-icon>Magnet Download
            </button>
          </li>
        </ul>
      </div>
    </mat-card>
  </div>
  <mat-card class="torrent-description">
    <mat-card-content class="description">
      <div class="image-container">
        <img src="{{ torrent.coverImageUrl }}" alt="Torrent Cover Image" />
      </div>
      <div class="torrent-text">
        <h2>{{ torrent.name }}</h2>
        <p>{{ torrent.description }}</p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
