.torrent-container {
  margin: auto;
  margin-top: 30px;
  background-color: var(--background-color);
  max-width: 1200px;
  border-radius: 5px;
  padding-bottom: 1px;
}

.title-container {
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--background-color-secondary);
}

.torrent-details {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.torrent-options {
  flex-grow: 1;
  flex-basis: 0;
  padding: 15px;
}

mat-card-content {
  flex-grow: 1;
  flex-basis: 0;
  padding: 15px;
}

.torrent-info {
  margin: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}

.torrent-options ul {
  list-style: none;
  text-align: center;
  height: 100%;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.torrent-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--background-color-secondary);
}

.torrent-comments {
  border-radius: 5px;
  margin: 10px;
  background-color: var(--background-color-secondary);
}

.image-container {
  width: 200px;
  max-height: 300px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image-container img {
  width: 200px;
}

.torrent-text {
  margin: 10px;
}

.torrent-text h2 {
  font-variant: small-caps;
}

.torrent-text p {
  color: var(--mat-sys-secondary);
}

.description {
  display: flex;
  flex-direction: row;
}

.comment {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
}

.profile-picture {
  border-radius: 15px;
  background-color: var(--mat-sys-primary-container);
  width: 64px;
  height: 64px;
  padding: 10px;
}

.comment-details {
  border-radius: 15px;
  padding: 5px;
  width: 100%;
  height: auto;
  margin-left: 15px;
}

@media (max-width: 768px) {
  .title-container {
    border-radius: 0;
  }

  .torrent-details {
    flex-direction: column;
  }

  .torrent-options ul {
    margin: auto;
  }
  .torrent-description,
  .torrent-info,
  .torrent-comments {
    border-radius: 0px;
    margin: 10px 0;
  }
  .image-container {
    margin: 15px auto;
    width: 150px;
  }
  .description {
    align-items: unset;
    flex-direction: column;
  }
}
