.torrent-container {
  margin: auto;
  margin-top: 30px;
  background-color: var(--background-color);
  max-width: 1200px;
  min-height: 800px;
  border-radius: 5px;
}

.title-container {
  padding: 15px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--background-color-secondary);
}

.torrent-details {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.torrent-options {
  flex-grow: 1;
  flex-basis: 0;
}

.torrent-info {
  border-radius: 5px;
  background-color: var(--background-color-secondary);
  margin: 10px;
  flex-grow: 1;
  flex-basis: 0;
}

.torrent-info ul {
  list-style: none;
  padding: 5px;
}

.torrent-info ul li {
  padding: 10px;
  border-bottom: 1px solid var(--mat-sys-on-background);
}

.torrent-options ul {
  list-style: none;
  text-align: center;
  height: 100%;
  padding-left: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  li {
    margin-bottom: 15px;
  }
}

.torrent-description {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin: 10px;
  background-color: var(--background-color-secondary);
}

.image-container {
  width: 200px;
  max-height: 300px;
  margin: 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.image-container img {
  width: 100%;
}

.torrent-text {
  margin: 10px;
}

.torrent-text h2 {
  font-variant: small-caps;
}

.torrent-text p {
  color: var(--mat-sys-secondary);
}

@media (max-width: 768px) {
  .title-container {
    border-radius: 0;
  }

  .torrent-details {
    flex-direction: column;
  }

  .torrent-options ul {
    margin: auto;
  }
  .torrent-description,
  .torrent-info {
    border-radius: 0px;
    margin: 10px 0;
  }
  .image-container {
    margin: 15px auto;
    width: 150px;
  }
  .torrent-description {
    align-items: unset;
    flex-direction: column;
  }
}
