.home-container {
  margin: auto;
  margin-top: 30px;
  max-width: 600px;
  padding: 20px;
  background-color: var(--background-color);
}

mat-card-header {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}
mat-card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  display: flex;
  align-items: center;
}

.quick-actions {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
