/* You can add global styles to this file, and also import other style files */
:root {
  --background-color: #222831;
  --background-color-secondary: #31363f;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
a,
a:hover,
a:focus {
  color: unset;
}
